*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"JetBrains Mono", monospace
    
}
body{
    background-image: url(../assets/Images/hero.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width: 480px) {
      body {
        background-image: url(../assets/Images/mobile.png);
        background-size: 100% auto;
        background-position: top;
    }
}